

body{
    margin: 0;
    padding: 0;
}


  
.background {

    margin-top: 30px;
    width: 100%;
    height: 100%;
   
}
.cabecalho{
   
    height: 80px; /* Da uma altura max para o cabeçalho*/
    background-color: #1a1f2e; /* cor de fundo*/
    display: flex;  /* Coloca os items um do lado do outro*/
    justify-content: space-between; /* Espaço entre os filhos*/
    align-items: center; /* Alinhar os itens no centro */
    padding: 0 80px  0 80px; /* Espaçamento interno de todos os elementos(Sentido Horario), Cima: 0   Direita: 80   Em baixo: 0  Esquerda: 80 */
    border: 1px solid black;
}


.cabecalho .logo{
    
   display: flex;  /* Coloca os items um do lado do outro*/
   gap: 15px; /* Espaçamento de 30 px*/
    
    
}

.cabecalho .logo img{
    width: 150px;
    
   
}




.cabecalho .menu{
    display: flex; /* Coloca os items um do lado do outro*/
    gap: 30px; /* Espaçamento de 30 px*/
    
}

.cabecalho .menu li a{
    padding: 30px; /* Espaçamento interno */
    color: #ffffff; /* Cor da Fonte */
    font-weight:lighter; /* Fonte forte */
    font-size: 15px; /* Tamanho da fonte*/
    font-family: "ChaletLondonNineteenSixty"; /* Fonte estilo*/
    font-weight: bolder;
    
}



.cabecalho .menu li a:hover{
   
    transition: all 1s;
    border-bottom: 1px solid #ffffff ; /* Aplica uma borda branco quanto passar o mause em cima dos itens */

}




.home{
    display: flex; /* Coloca os items um do lado do outro*/
    position: relative; /* Adiciona uma posição */
    min-height: calc(100vh - 80px) ; /* Altura minima */

}

.home::after{
    background-color: blue; /* Cor de Fundo */
    content: "";
    position: absolute; /* absolute: muda o fluxo e tras a imagem pra frente de todos os elementos */

    content: "";
    position: absolute; /* absolute: muda o fluxo e tras a imagem pra frente de todos os elementos */
    

    height: 100%; /* Define uma altura */
    width: 100%; /* Define uma largura */
}

.icones{
    background-color: #ffffff;
    list-style: none; /* Remover marcadores de lista */
    padding: 0; /* Remover padding padrão */
    text-align: center;
    
}

.bg{
    width: 100%;
    height: 100%;
    
}

.icones li:last-child {
    margin-right: 0; /* Remover a margem da última imagem */
    
}

.icones ul {
    display: inline-block;
    
}

.icones ul li img{
    width: 200px; 
    height: auto; 
    justify-content: center;
    align-items: center;
    
}

.icones img{
    margin: 20px;
    margin-top: 50px;
    transition: all 1s ease-in-out;
}



.icones ul li img:hover{
    width: 300px;   
}

.icones h1{
    font-family: "ChaletComprime";
    font-size: 45px;
    letter-spacing: 2px;
}


.box{
margin: 0;
background-color: #330644;
}


.box-2{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}

.box .box-2{
    margin-top: -50px;
}
.box .box-2 img{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0.2;
}

.box .box-2 .video{
    width: 100%;
    height: 100%;
    opacity: 0.2;
   
}

.box .box-2 .informacoes-LE .logo_hbo{
    width: 200px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Isso manterá a proporção */
    margin-bottom: 10px; /* Ajuste conforme necessário para espaçamento */
}




.informacoes-LE {
    position: absolute;
    font-family: "ChaletComprime";
    letter-spacing: 2px;
    font-size: 50px;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.box .box-2 .botao-last-evolution{
        background-color: rgba(255, 255, 255, 0.1);
        border: 0.5px solid #fff;
        color: #fff;
        border-radius: 4px;
        font-family: "ChaletComprime";
        font-size: 28px;
        text-align: center;
        margin-top: 10px;
        padding: 20px 60px;
        text-transform: uppercase;
        width: 100%;
        transition: all .3s ease-in;
    }

    .box .box-2 .botao-last-evolution:hover{
        background-color: #fff;
        color: #000;
    }

    .bg3 {
        text-align: center;
        margin-top: 20px; /* Ajuste conforme necessário */
    }

    .bg3 img {
        width: 1000px; /* Ajusta a largura da imagem para ocupar todo o espaço do contêiner */
        transition: all 1s ease-in-out;
        height: auto; /* Mantém a proporção da imagem */
    }
    
    
    .bg3 ul li img:hover{
        
        width: 1200px;   
    }



    .botoes{
        background-color: #ffffff;
        list-style: none; /* Remover marcadores de lista */
        padding: 50px; /* Remover padding padrão */
        text-align: center;

        
    }

    
    .botoes li:last-child {
        margin-right: 0; /* Remover a margem da última imagem */
        
    }
    
    .botoes li {
        display: inline-block;
        
    }
    
    .botoes  li img{
        width: 200px; 
        height: auto; 
        justify-content: center;
        align-items: center;
        
    }

.botoes .botao-temporadas{
        background-color: rgba(255, 255, 255, 0.1);
        border: 0.5px solid #000000;
        color: #000000;
        border-radius: 4px;
        font-family: "ChaletComprime";
        font-size: 28px;
        text-align: center;
        margin-top: 20px;
        text-transform: uppercase;
        width: 250px;
       height: 50px;
        transition: all .3s ease-in;
    }

    .botao-temporadas:hover{
        background-color: #000000;
        color: #ffffff;
    }

.botoes h1{
    font-family: "ChaletComprime";
    font-size: 40px;
    padding: 20px;
}



.box-image {
    display: flex; /* Torna os elementos filhos em linha */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
    position: relative; /* Adiciona posição relativa */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa o limite da caixa */
    margin: 0;
    padding: 0;
}
    
.box-image .imagem-grande {
    margin-bottom: 0;

}


    
 
    .informacoes{
        font-family: "ChaletComprime";
        margin: 0;
        text-align: left;
        justify-content: left; 
         
        
    }

    .informacoes h1{
        text-align: center;
        font-size: 55px;
        
    }
    .informacoes p {
        width: 700px;
        text-align: center;
        font-size: 35px;
        padding: 10px;
        margin-top: 0; /* Remova a margem superior */
        margin-bottom: 10px; /* Ajuste a margem inferior conforme necessário */
    }